



    *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    font-size: 20px;
    overflow-x: hidden;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    

}

header{
    background-image: url(images/img1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}

.bow{
    max-width:  1180px;
    margin: 0 auto;
}

.logoo{
    height:100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.logoo:hover{
    transform: scale(1.20);
}
.main-nav{
    float: right;
    margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    color:#fff ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    padding: 5px 0px;
    
}
.main-nav li a:hover{
    border-bottom: 2px solid violet;


}

.cflearfix::after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both
    ;
}
.main-contentt{
    /* width: 100%; */
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin-top: 85px;
}

.main-cont{
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin-top: 85px;
    
}




.main-text{
    color: #fff;
    font-size: 240%;
    word-spacing: 1px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    margin-top: 45px;
}

.btn-ret{
display: inline-block;
padding: 15px 35px;
font-weight: bolder;
text-transform: uppercase;
text-decoration: none;
margin-left:165px;
margin-top: 20px;
border-radius: 20px;

}
.btn-ret:hover{
    transform: scale(1.25);
}

     
 .anim{
     animation: colorchangedon 1s infinite;
     margin-left: 30px;
     margin-top: 30PX;

 }
@keyframes colorchangedon{
    0%{color: red;}
    25%{color: violet;}
    50%{color: white;}
    100%{color:violet ;}

}

.mobile-icon{
    display: none;

}
.icons{
   font-size: 50px;
}

/* responsive view */

@media only screen and ( max-width:1180px){
    .main-cont{
        width: 100%;
        padding: 0 2%;
    }
}
@media only screen and ( max-width:998px){
    .main-text{
        font-size: 200%;
    }
    .btn-ret{
        
        margin-left: 100px;
    }
}

@media only screen and ( max-width:768px){
    .main-text{font-size: 180%;  }
        
   .main-nav{display: none;  }

  
    .mobile-icon{ display: inline-block;
        color: #fff;
        float: right;
         margin-top: 30px;
         margin-right:20px ;
    }
        
    .main-nav li{
       display: block;
        margin-top: 10px;
    }
    .main-nav{ float: left;}
       
    
}

@media only screen and ( max-width:480px){}



.pico{
    height: 400px;
    width: 100%;
    
}
.roounded{
    border-radius: 80px;
}
.picgallary{
    height: 400px;
    width: 700px;
    margin-right: 20px;
    float: right;
    border-radius:2%;
    margin-top: 50px;
    
}
.icon{
    color: rgb(201, 204, 27);
}

.aboutus{
    /* background-image: url(images/img03.png); */
    height: 100vh;
    text-align: justify;
    background-color: rgb(13, 32, 59);

    letter-spacing: 2px;
    word-spacing: 2px;
    padding: 120px 70px ;
}


.head{
    text-align: center;
}

#programs{
    height:auto;
    text-align: center;
    background-image: url(images/img00.png);
    color: #fff;
    padding-bottom: 50px;
    padding-top: 40px;
    /* background-color: rgb(5, 25, 56); */

}
.carousel-item{
    padding: 2% 2%;
 }
.head1{
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 35px;
}



.footer {
	width: 100%;
	/* background-image: url(images/img00.png); */
	display: block;
    background-color: rgb(11, 28, 53);
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: rgb(236, 231, 227);
}

.footer-items h1 {
	color: rgb(240, 245, 247);
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 35px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: rgb(134, 93, 4);
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}



@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
    .main-contentt{
        display: block;
    }
    .aboutus p{
        font-size: 1.4vw;
    }
}



@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}

    .main-contentt{
        display: block;
    }
    .aboutus p{
        font-size: 2.1vw;
    }
}






